.headerListPages {
  width: 100%;
  height: calc(100vh - 100px);
  color: blue;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 100px;
  left: 250px;
  z-index: 500;
}
