label,
input,
.SchoolBus {
  width: 90%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* position: fixed; */
}
.WelcomeComponent {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
}
button {
  margin: 10px;
  padding: 5px;
}
header {
  top: 0;
  padding-bottom: 20px;
  /* position: absolute; */
  width: 90%;
  /* height: 40px; */
}

footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}

/* .smtc-table-hover td:hover {
  background-color: #62dbad;
  cursor: pointer;
} */

.smtc-selected-row {
  background-color: yellow !important;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-wrapper {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  align-items: flex-start;
}

.form-container {
  flex: 2;
}

.bus-image {
  flex: 1;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.button-group {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
}

input::placeholder {
  color: #ff5733;
  font-weight: bold;
}

.search-input::placeholder {
  color: #ff5733;
  font-weight: bold;
}

/* header and footer for all list forms*/
.table-container {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.table-active {
  background-color: #d3e0ff !important;
}
